anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
httptools
idna
oauthlib
pydantic
pyperclip
python-dotenv
pyyaml
requests-oauthlib
requests
sniffio
starlette
typing-extensions
urllib3
uvicorn[standard]
uvloop
watchfiles
websockets
